.AlertBanner_container{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2em 1em;
    // background-color: red;
    color: white;
    display: flex;
    justify-content: flex-start;
    height: 2em;
    padding: 0.4em;
    border-radius: 0.2em;
    width: 30%;
    font-weight: bold;
    align-items: center;
    gap: 0.5em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    animation: fadeInOut 3s ease-in-out;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}


@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-10%, -10px); }
    10% { opacity: 1; transform: translate(20%, 0); }
    90% { opacity: 1; transform: translate(20%, 0); }
    100% { opacity: 0; transform: translate(-10%, -10px); }
}