.workCard_container {
    // border: 1px solid black;
    // background-color: #fff;
    border: 2px solid white;
    max-width: 100%;
    height: 20rem;
    max-height: 20rem;
    max-width: 15rem;
    border-radius: 2.25rem;
    padding-top: 0.1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .workImage_container {
        margin-top: 0.25rem;
        // border: 1px solid red;
        width: 100%;
        max-width: 100%;
        height: 10rem;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: inherit;
            display: block
        }
    }

    .workDesc_container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .title {
            font-weight: bold;
            margin: 0;
            text-align: center;
        }

        .desc {
            margin: 0;
            font-size: 0.7rem;
            color: #8F8B8B;
            text-align: center;
        }
    }

    .workBtn_container {
        display: flex;
        justify-content: center;
        margin: auto 0;
    }
}