.workCard_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;

    // cursor: pointer;
}

.workHead {
    width: 55em;

    img {
        width: 100%;
        object-fit: cover;

    }
}

.workDesc_container {
    width: 55em;
    margin-top: 1em;

    .title {
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--menu-items-selected);
        margin: 0;
    }

    desc {
        color: var(--menu-items-primary);
        font-weight: 500;
        font-family: "Work Sans", sans-serif;
        font-style: medium;
    }

}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .workCard_container {
        // border: 1px solid red;
    }
    .workHead {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;

        }
    }

    .workDesc_container {
        width: 100%;
        margin-top: 1em;

        .title {
            font-weight: 600;
            font-size: 1.2rem;
            color: var(--menu-items-selected);
            margin: 0;
        }

        desc {
            color: var(--menu-items-primary);
            font-size: 0.8rem;
            font-weight: 500;
            font-family: "Work Sans", sans-serif;
            font-style: medium;
        }

    }

}