@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.MainView_container {
    // background-color: red;
    // position: absolute;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1em 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    // font-family: "Roboto", sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    gap: 5em;

    .myImage_icon {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;

        img {
            max-width: 100%;
            transform: scale(1.7);
            margin-top: -40%;
            margin-left: 5%;
        }
    }

    .navItems {
        display: flex;
        margin-left: auto;
        gap: 8em;

        button {
            color: var(--menu-items-primary);
            background-color: transparent;
            border: none;
            cursor: pointer;
            // font-size: 1.1em;
            font-weight: 600;
        }
    }
}

.intro_container {
    // border: 1px solid red;
    display: flex;
    gap: 2em;
    // padding: 3em 0;
    height: 40vh;
    align-items: center;

    .intro_para {
        flex: 1;
    }

    .intro_pic_container {
        width: 300px;
        height: 300px;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .intro_pic {
            width: 190px;
            height: 190px;
            // border: 1px solid green;
            border-radius: 50%;
            box-shadow:
                0 -10px 30px 5px rgba(0, 100, 0, 0.3),
                0 10px 30px 5px rgba(44, 61, 159, 0.3);
            transform: rotate(-45deg);
            overflow: hidden;

            img {
                width: 100%;
                ;
                transform: rotate(46deg) scale(1.7);
                margin-right: 18%;
                margin-top: -35%;

            }


        }

        .text_circle {
            position: absolute;
         
            // top: 0;
            // left: 0;
            width: 320px;
            animation: spin 30s linear infinite;

            text {
                letter-spacing: 8.2px;
                word-spacing: 1px;
                
            }
        }
    }




}



@media only screen and (min-width: 1024px) {}