@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.MainView_container {
   
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1em 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-family: "Work Sans", sans-serif;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 1em 10em;
    width: 100%;
    z-index: 999;
    background-color: var(--background-color);

    .myImage_icon {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;

        img {
            max-width: 100%;
            transform: scale(1.7);
            margin-top: -40%;
            margin-left: 5%;
        }
    }

    .navItems {
        display: flex;
        margin-left: auto;
        gap: 8em;

        button {
            color: var(--menu-items-primary);
            background-color: transparent;
            border: none;
            cursor: pointer;
            // font-size: 1.1em;
            font-weight: 600;
        }
    }
}

header2 {
    display: none;
}

.intro_container {
    // border: 1px solid red;
    display: flex;
    gap: 3em;
    // padding: 3em 0;
    height: 40vh;
    align-items: center;
    margin-top: 4em;

    .intro_para {
        flex: 1;


        .hello_container {
            font-family: "Fraunces", serif;
            font-weight: 600;
            font-size: 2em;

            span:nth-of-type(2) {
                color: rgba(24, 119, 242, 1);
            }
        }

        .about_container {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .intro_pic_container {
        width: 300px;
        height: 300px;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .intro_pic {
            width: 190px;
            height: 190px;
            // border: 1px solid green;
            border-radius: 50%;
            box-shadow:
                0 -10px 30px 5px rgba(0, 100, 0, 0.3),
                0 10px 30px 5px rgba(44, 61, 159, 0.3);
            transform: rotate(-45deg);
            overflow: hidden;

            img {
                width: 100%;
                ;
                transform: rotate(46deg) scale(1.7);
                margin-right: 18%;
                margin-top: -35%;

            }


        }

        .text_circle {
            position: absolute;

            // top: 0;
            // left: 0;
            width: 320px;
            animation: spin 30s linear infinite;

            text {
                letter-spacing: 8.2px;
                word-spacing: 1px;

            }
        }
    }




}

.skills_container {
    padding: 0;
    padding-bottom: 1em;

    .skills_heading {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .skills_item_containter {
        display: flex;
        gap: 4em;
        margin-top: 1em;
        flex-direction: column;

        .skill_1 {
            width: 100%;
            display: flex;
        }

        .skill_2 {

            width: 100%;
            display: flex;
            // justify-content: center;
        }

        .skill_3 {
            width: 100%;
            display: flex;
            justify-content: flex-end;

        }
    }

}

.projects_container {
    padding: 0;
    padding-bottom: 1em;

    .projects_heading {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .projects_item_containter {
    }
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
    .MainView_container {
        height: 100%;
        padding: 0;
        display: flex;
        position: relative;
    }

    header {
        display: none;
    }

    header2 {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .myImage_icon {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            overflow: hidden;
            margin-right: 10px;

            img {
                max-width: 100%;
                transform: scale(1.7);
                margin-top: -40%;
                margin-left: 5%;
            }
        }

        button {
            background-color: transparent;
            color: var(--text-color);
            border: none;
            cursor: pointer;
        }
    }

    .intro_container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 0;
         margin-top: 0;

        .intro_para {
            padding: 1em;

            .hello_container {
                font-size: 1.8em;
            }

            .about_container {
                font-size: 15px;
                line-height: 25px;

            }
        }

        .intro_pic_container {
            width: 300px;
            height: 300px;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;



            .intro_pic {
                width: 190px;
                height: 190px;
                // border: 1px solid green;
                border-radius: 50%;
                box-shadow:
                    0 -10px 30px 5px rgba(0, 100, 0, 0.3),
                    0 10px 30px 5px rgba(44, 61, 159, 0.3);
                transform: rotate(-45deg);
                overflow: hidden;

                img {
                    width: 100%;
                    ;
                    transform: rotate(46deg) scale(1.7);
                    margin-right: 18%;
                    margin-top: -35%;

                }


            }

            .text_circle {
                position: absolute;

                // top: 0;
                // left: 0;
                width: 320px;
                animation: none;

                text {
                    letter-spacing: 8.2px;
                    word-spacing: 1px;

                }
            }
        }
    }

    .skills_container {
        padding: 0 1em;

        .skills_heading {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }

    .projects_container {
        padding: 0 1em;

        .projects_heading {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }
}
