:root {
  --background-color: white;
  --text-color: black;
  --menu-items-primary: #898989;
  --menu-items-selected: black;
  --skill-item-border: rgba(222, 222, 222, 1);
  --skill-item-number-background: rgba(242, 255, 240, 1);
  --timeline-foot-color: rgb(2, 179, 2);
  --timeline-foot-background: rgb(243, 255, 243);
}

[data-theme='dark'] {
  --background-color: #1a1a1a;
  --text-color: white;
  --menu-items-primary: #9f9f9f;
  --menu-items-selected: white;
  --skill-item-border: rgba(65, 65, 65, 1);
  --skill-item-number-background: rgba(242, 255, 240, 1);
  --timeline-foot-color: rgb(243, 255, 243);
   --timeline-foot-background: transparent;
  ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}